@import "tailwindcss";

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-4px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes float-bounce {
    0% {
      transform: translateY(100%);
    }
    50% {
      transform: translateY(-15%);
    }
    70% {
      transform: translateY(5%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .char {
    display: inline-block;
    transition: transform 0.8s;
  }

  .group:hover .char {
    animation: float-bounce 0.8s ease-out forwards;
  }

  @keyframes move-out {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
  }

  .bounce {
    display: inline-block;
    animation: move-out 0.6s ease forwards;
  }

  .delay-0 { animation-delay: 0s; }
  .delay-1 { animation-delay: 0.1s; }
  .delay-2 { animation-delay: 0.2s; }
  .delay-3 { animation-delay: 0.3s; }
  .delay-4 { animation-delay: 0.4s; }
  .delay-5 { animation-delay: 0.5s; }
  .delay-6 { animation-delay: 0.6s; }

  /* global.css */
  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #ec4899; /* Tailwind pink-500 */
    border-radius: 3px;
  }

  .flip-card {
    perspective: 1200px;
  }

  .flip-inner {
    transition: transform 1.2s ease-in-out; /* Slower and smooth */
    transform-style: preserve-3d;
    position: relative;
  }

  .flip-card:hover .flip-inner {
    transform: rotateY(-180deg); /* Book-like: right to left */
  }

  .flip-front,
  .flip-back {
    backface-visibility: hidden;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem; /* rounded-xl */
    overflow: hidden;
  }

  .flip-front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  .flip-back {
    transform: rotateY(-180deg);
  }


}